[submodule "src/blockchain/lib/forge-std"]
	path = src/blockchain/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "src/blockchain/lib\\wormhole-solidity-sdk"]
	path = src/blockchain/lib\\wormhole-solidity-sdk
	url = https://github.com/wormhole-foundation/wormhole-solidity-sdk
